# Copy this file to .env and fill in your values for local testing.
# Never commit .env to version control.

SPECKLE_TOKEN="8c3a7f5a9d07c69e25378f1678111a7ba034335bd6"
SPECKLE_SERVER_URL="http://127.0.0.1:3000"
SPECKLE_PROJECT_ID="7943a0c42b"
SPECKLE_AUTOMATION_ID="2668e92050"

# Rhino Compute
COMPUTE_URL="https://compute8.iaac.net/""
COMPUTE_API_KEY="macad26"
